* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-bottom:200px;
}



/*MENU*/
nav {
    background-color: #7DB6AD;  
    
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

/*Inicia footer*/

footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    /*padding: 50px 100px;*/
    background: #7DB6AD;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    footer .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }

        footer .container .sec {
            margin-right: 30px;
        }

            footer .container .sec .aboutus {
                width: 40%;
            }

        footer .container h2 {
            position: relative;
            color: black;
            font-weight: 500;
            margin-bottom: 15px;
        }

            footer .container h2:before {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 50px;
                height: 2px;
                background: #7DB6AD;
            }

    footer p {
        color: black;
    }

.sci {
    margin-top: 20px;
    display: flex;
}

    .sci li {
        list-style: none;
    }

        .sci li a {
            display: inline-block;
            width: 40px;
            height: 40px;
            background: #7DB6AD;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            text-decoration: none;
            border-radius: 4px;
        }

            .sci li a:hover {
                color: white;
            }

            .sci li a .fab {
                color: black;
                font-size: 20px;
            }

.quickLinks {
    position: relative;
    width: 25%;
}

    .quickLinks ul li {
        list-style: none;
    }

        .quickLinks ul li a {
            color: black;
            text-decoration: none;
            margin-bottom: 10px;
            display: inline-block;
        }

            .quickLinks ul li a:hover {
                color: white;
            }

.contact {
    width: calc(35% -60px);
    margin-right: 0 !important;
}

    .contact .info {
        position: relative;
    }

        .contact .info li {
            display: flex;
            margin-bottom: 16px;
        }

            .contact .info li span:nth-child(1) {
                color: black;
                font-size: 20px;
                margin-right: 10px;
            }

            .contact .info li span {
                color: black;
            }

            .contact .info li a {
                color: black;
                text-decoration: none;
            }

                .contact .info li a:hover {
                    color: #7DB6AD;
                }

.copyrightText {
    width: 100%;
    background: #7DB6AD;
    padding: 8px 100px;
    text-align: center;
    color: black;
}

@media(max-width:991px) {
    footer {
        padding: 40px;
    }

        footer .container {
            flex-direction: column;
        }

            footer .container .sec {
                margin-right: 0;
                margin-bottom: 40px;
            }

                footer .container .sec .aboutus, .quickLinks, .contact {
                    width: 100%;
                }

    .copyrightText {
        padding: 8px 40px;
    }
}

/*PAGINA PRINCIPAL*/

.categorias{
    margin:70px 0;
    align-content:center;
}
.rowcategorias {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    width: 100%;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: 1s;
    box-shadow: 0px 0px 10px 0.5px #565656;
    border-radius: 4px;
}

    .col-3:hover {
        transform: translateY(-5px);
    }

    .col-3 img {
        width: 100%;
    }
/*Productos estrella*/
.small-container {
    /*max-width: 1080px;*/
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    align-content:center;
    
}

.rowproductosestrella {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    width: 100%;
}

.card-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0.5px #565656;
    border-radius: 4px;
    padding: 24px;
    font-size: 14px;
    transition:1s;
}

.card-title {
    margin-top: 0;
    color:#555;
    font-weight:normal;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

    .title::after {
        content: '';
        background: #7DB6AD;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

.card-producto:hover {
    transform: translateY(-5px);
}

@media(max-width:600px){
    .rowcategorias, .rowproductosestrella{
        text-align:center;
    }
    .col-3, .card-producto{
        flex-basis:100%;
    }

}


/*Pagina de productos*/
.containerproductos {
    min-width: 100px;
    width: 20%;
}

    .containerproductos .navigationproductos{
        
    }

    .containerproductos .navigationproductos ul{
        position:relative;
        top:0;
        left:0;
    }

        .containerproductos .navigationproductos ul li{
            position: relative;
            list-style:none;
            width:100%;
        }

        .containerproductos .navigationproductos ul li a{
            position:relative;
            display:block;
            width:100%;
            display:flex;
            text-decoration:none;
            color: black;
            font-weight:500;
        }

            .containerproductos .navigationproductos ul li a .titlecatgoria{
                position:relative;
                display:block;
               /* height:60px;*/
                /*line-height:60px;*/
                white-space:nowrap;
            }

.small-container-productos {
    display: flex;
    gap: 2em;
}
.containerproductos .navigationproductos ul li a {
    line-height: 20px;
}
.containerproductos .navigationproductos ul li a:hover {
    color: #7DB6AD;
    transition: 0.3s;
}
.containerproductos .navigationproductos ul,
.containerproductos .navigationproductos .form-check {
    padding: 0;
}


.containerproductos .navigationproductos td {
    display: flex;
    align-items: center;
}

.containerproductos .navigationproductos td input {
    margin-top: 0;
    margin-right: 4px;
}

.containerproductos .navigationproductos td label {
    margin-bottom: 0;
    text-transform: capitalize;
}

.rowproductos {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 100%;
}

.card-productoss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 0.1px #565656;
    border-radius: 4px;
    padding: 24px;
    transition: 1s;
}

    .card-productoss:hover {
        transform: translateY(-5px);
    }

@media only screen and (max-width: 800px) {
    .small-container-productos {
        flex-wrap: wrap;
    }
}

.title-products {
    text-align: center;
    font-size:16px;
    font-weight: 500;
    position: relative;
    color: #555;
}
